<h2><%=@location.name%></h2>

<p><%=@location.description%></p>

<h5>Post:</h5><br />
<form action='/post' method='post'>
  <input type='hidden' name='location_id' id='location_id' value="<%=@location.id%>"/>
  <textarea name='content' id='comment'></textarea><br />
  <input type='submit' value='Submit' />
</form>

<h3>Posts:</h3>

<ul id="posts">

  <% @posts.each do |post| %>
    <li>
      <h5> Posted by:
        <a href="/users/<%=post.user_id%>">
          <%= User.find(post.user_id).user_name %></h5>
        </a> 
      <p>
        <%= post.content %>
      </p>

    </li>

    <ul id="post_comments">
      <% post.comments.each do |comment| %>
      <li>
        <p>
          Comment:
          <%= comment.content %>
        </p>
        <p>
          <a href="/users/<%=comment.user_id%>"><i><%= User.find(comment.user_id).user_name %></i></a> <i><%= comment.created_at %></i>
        </p>
      </li>
      <% end %>
    </ul>
    <h5>Leave a Comment:</h5><br />
    <form action='/locations/<%=@location.id%>' method='post'>
      <input type='hidden' name='location_id' id='location_id' value="<%=@location.id%>"/>
      <input type='hidden' name='post_id' id='post_id' value="<%=post.id%>"/>
      <textarea name='comment_content' id='post_comment_form'></textarea><br />
        <input type='submit' value='Submit' />
    </form>
  <% end %>
</ul>
